certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
colorlog==5.0.1
hydra-colorlog==0.1.4
hydra-core==0.11.3
idna==3.2
numpy==1.19.0
omegaconf==1.4.1
pesq==0.0.3
pycparser==2.20
pystoi==0.3.3
PyYAML==5.4.1
requests==2.26.0
scipy==1.7.1
six==1.16.0
sounddevice==0.4.0
SoundFile==0.10.3.post1
torch==1.9.0
torchaudio==0.9.0
typing-extensions==3.10.0.0
urllib3==1.26.6
